<!DOCTYPE html>

<html lang="en-IN">
 
  <head>
   
      <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="x-UA-Content" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
     
    <title>Go Hero | Discord Bot</title>
    <meta name="title" content="Go Hero | Discord Bot"/>
    
  </head>
 
  <body>
   
    <header>
     
      <a href="{{ home }}">
       
        <img src="https://ibb.co/Y29vFJw">
        
      </a>
      
    </header>
    
  </body>
  
</html>